<% content_for :title, "Peminjaman" %>
<h1 class="page-header mb-3">List Peminjaman</h1>
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header row">
        <div class="col-md-8">
          <a href="<%= admin_borrower_add_path %>" class="btn btn-primary"
            ><i class="fa fa-plus"></i> Tambah Peminjaman</a
          >
        </div>
        <div class="col-md-4">
          <div class="text-end">
            <form action="" method="get">
              <div class="input-group">
                <input
                  type="search"
                  class="form-control"
                  name="search"
                  value="<%= params[:search] %>"
                  placeholder="Cari...."
                />
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Cari
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= render partial: "shared/alertmainpage" %>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama Buku</th>
                <th scope="col">Nama Peminjam</th>
                <th scope="col">Tanggal Peminjaman</th>
                <th scope="col">Tanggal Pengembalian</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% @borrowers.each do |borrower| %>
              <tr>
                <td><%= @no+=1 %></td>
                <td><%= borrower.book.name %></td>
                <td><%= borrower.member.name %></td>
                <td><%= borrower.created_at.strftime('%d %b %Y - %H:%M') %></td>
                <% if borrower.statuspengembalian != "Belum Dikembalikan" %>
                <td><%= borrower.updated_at.strftime('%d %b %Y - %H:%M') %></td>
                <td>-</td>
                <% else %>
                <td>-</td>
                <td>
                  <button
                    data-linkreturn="<%= admin_borrower_return_path(borrower.id) %>"
                    class="btn btn-sm btn-success btnReturn"
                  >
                    <i class="fa fa-check"></i> Pengembalian Buku
                  </button>
                </td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div style="display: flex; justify-content: center"></div>
      </div>
    </div>
  </div>
</div>
<!-- END row -->

<% content_for :javascript do %>
<script>
  $(".btnReturn").click(function () {
    var linkreturn = $(this).data("linkreturn");
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: "btn btn-danger",
        cancelButton: "btn btn-success mr-1",
      },
      buttonsStyling: {
        cancelButton: "margin-right: 1rem;",
      },
    });

    swalWithBootstrapButtons
      .fire({
        title: "Apakah Yakin Ingin ?",
        text: "Buku Sudah di check dan tidak ada kerusakan",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Sudah Confirm Pengembalian",
        cancelButtonText: "Batal",
      })
      .then((result) => {
        if (result.isConfirmed) {
          window.location.href = linkreturn;
        }
      });
  });
</script>
<% end %>
