<% content_for :title, "Forgot Password" %>
<div class="row mt-5">
  <div class="col-md-5 offset-4">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">Forgot Password</h3>
        <%= render partial: "shared/alertmainpage" %>
        <hr />
        <%= form_with model: @user, url: forgotpassupdate_path(token:
        params[:token]) do |form| %>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <%= form.password_field :password, class:"form-control",
          placeholder:"Password" %>
        </div>
        <div class="mb-3">
          <label class="form-label">Password Confirmation</label>
          <%= form.password_field :password_confirmation, class:"form-control",
          placeholder:"Password" %>
        </div>
        <div class="mb-3 text-end">
          <%= form.submit "Forgot Password", class:"btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
